<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

    <symbol id="brand-logo" viewBox="0 0 160 47" fill="none">
      <title>Waltz</title>
      <path
        d="M46.32 23.16C46.32 27.7406 44.9617 32.2184 42.4169 36.027C39.872 39.8357 36.2549 42.8041 32.023 44.5571C27.791 46.31 23.1343 46.7686 18.6417 45.875C14.1491 44.9814 10.0224 42.7756 6.78341 39.5366C3.54443 36.2976 1.33865 32.1709 0.445021 27.6783C-0.448613 23.1857 0.0100424 18.529 1.76297 14.297C3.51589 10.0651 6.48437 6.44802 10.293 3.90317C14.1017 1.35832 18.5794 3.8147e-06 23.16 3.8147e-06C29.3024 3.8147e-06 35.1933 2.44006 39.5366 6.78341C43.8799 11.1267 46.32 17.0176 46.32 23.16Z"
        fill="#4D667D" />
      <path
        d="M35.0601 24.18L30.28 26.05L27.9501 23.89L26.85 19.53L35.8801 20.86V17.18L29.28 11.75L15.54 10.31L17.4 17.48V21.79L15.59 23.91L11.05 23.31L12.74 25.41L30.71 37.52L31.8 32.63L36.2901 27.15L35.0601 24.18Z"
        fill="white" />
      <path d="M29.8 21.8L33.6 22.57L30.57 23.72L29.8 21.8Z" fill="#839FBA" />
      <path d="M6.33008 24.36L12.7401 25.41L30.7101 37.52L13.0301 30.3L6.33008 24.36Z" fill="#80A4C2" />
      <path
        d="M67.9699 28.53C67.9699 25.07 57.9099 25.53 57.9099 18.65C57.9099 15.04 61.0899 12.21 65.6099 12.21C66.8373 12.1467 68.064 12.3468 69.2076 12.797C70.3511 13.2472 71.3851 13.937 72.2399 14.82L69.2399 18.34C68.7607 17.714 68.1429 17.2075 67.435 16.8605C66.727 16.5135 65.9483 16.3353 65.1599 16.34C63.5999 16.34 62.7299 17.21 62.7299 18.34C62.7299 21.86 72.7299 21.34 72.7299 28.27C72.7299 31.54 70.0199 34.72 64.4799 34.72C61.6984 34.847 58.9789 33.8734 56.9099 32.01L59.7199 28.06C60.4172 28.8336 61.26 29.4622 62.2003 29.9101C63.1406 30.3579 64.1598 30.6161 65.1999 30.67C67.0999 30.67 67.9999 29.67 67.9999 28.56"
        fill="white" />
      <path
        d="M89.8699 23.23V34.37H85.45V24.11C85.45 22.35 84.67 21.48 83.17 21.48C82.5848 21.522 82.0193 21.7095 81.5251 22.0256C81.0308 22.3417 80.6234 22.7764 80.3399 23.29V34.37H75.9299V12.21H80.3399V19.52H80.4599C81.027 18.944 81.7047 18.4885 82.4522 18.1809C83.1997 17.8733 84.0017 17.72 84.8099 17.73C88.0299 17.73 89.8699 19.52 89.8699 23.23Z"
        fill="white" />
      <path d="M98.2899 17.86H93.8799V34.38H98.2899V17.86Z" fill="white" />
      <path
        d="M116.26 34.37H111.84V23.87C111.84 22.18 111.05 21.18 109.56 21.18C108.939 21.1797 108.334 21.3719 107.827 21.7301C107.32 22.0883 106.937 22.5948 106.73 23.18V34.41H102.31V17.85H105.72L106.6 19.4H106.72C107.275 18.7698 107.958 18.2655 108.724 17.9205C109.49 17.5756 110.32 17.3982 111.16 17.4C114.38 17.4 116.22 19.18 116.22 22.9L116.26 34.37Z"
        fill="white" />
      <path
        d="M119.29 26.18C119.29 21.1 121.43 17.56 126.9 17.56C132.6 17.56 134.38 20.95 134.38 26.07C134.38 31.19 132.21 34.69 126.75 34.69C121.08 34.69 119.29 31.3 119.29 26.18ZM126.9 31.24C129.15 31.24 129.85 29.6 129.85 26.24C129.85 22.88 129 21.06 126.72 21.06C124.72 21.06 123.83 22.69 123.83 26.06C123.83 29.43 124.67 31.29 126.9 31.29"
        fill="white" />
      <path
        d="M137.48 12.21H141.83V18.58H141.95C142.913 17.9828 144.026 17.6707 145.16 17.68C148.9 17.68 151.68 19.68 151.68 25.8C151.68 30.8 148.73 34.66 143.23 34.66C141.262 34.7668 139.296 34.4248 137.48 33.66V12.21ZM147.3 26.15C147.3 22.47 146.01 21.3 144.11 21.3C143.699 21.2869 143.291 21.3582 142.909 21.5096C142.527 21.661 142.18 21.8891 141.89 22.18V30.92C142.43 31.0879 142.994 31.1656 143.56 31.15C145.89 31.15 147.3 29.66 147.3 26.15Z"
        fill="white" />
      <path d="M159.09 17.86H154.68V34.38H159.09V17.86Z" fill="white" />
      <path d="M98.2999 13.4L93.8899 11.63V15.61H98.2999V13.4Z" fill="white" />
      <path d="M159.1 13.4L154.68 11.63V15.61H159.1V13.4Z" fill="white" />

    </symbol>

  </defs>
</svg>
